@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap%27);
body {
  color: #dddddd
}
p {
  font-family: "PT Sans Narrow", sans-serif;
}
.MemeartenHead{
  padding-top: 4rem;
  text-align: center;
  font-size: 300%;
}
.MemeartenBox {
  overflow: hidden;
}
.img_kasten1{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f3d763;
  border-radius: 10%;
  overflow: hidden;
  z-index: 100;
}
.img_kasten2{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f3d763;
  border-radius: 10%;
  overflow: hidden;
  z-index: 100;
}
.img_kasten3{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f3d763;
  border-radius: 10%;
  overflow: hidden;
  z-index: 100;
}
img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-height: 100%;
  z-index: 0;
}
.MemeartenBox p {
  line-height: 1.5;
}
#url {
  color: black;
  background-color: #f3d763;
}
.MemeartenBox h2 {
  text-align: center;
  font-size: 200%;
}
.hover_bereich{
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  aspect-ratio: 1 / 1;
}
.inhalt{
  padding-bottom: 50px;
}
