body {
  color: #dddddd
}
.MemeartenBox {
  overflow: hidden;
}
.img_kasten{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f3d763;
  border-radius: 10%;
  overflow: hidden;
}
img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-height: 100%;
}
