body {
    margin: 0;
    background: #222;
    font-family: Impact;
}

header {
    background: green;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}
.logo {
    color: white;
    font-weight: lighter;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: green;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: black;
}

.nav-toggle:checked ~ nav {

    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 260ms;
}

@media screen and (min-width: 1750px) {
    .nav-toggle-label {
      display: none;
    }

    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
      grid-column: 1/2;
    }

    nav {
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;

      grid-column: 2/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    nav ul {
      display: flex;
    }

    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }

    nav a {
      opacity: 1;
      position: relative;
    }

    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 300ms;
    }

    nav a:hover::before {
      transform: scale(1,1);
    }
}



footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background: green;
  height: 50px;
  width: 100%;
  transition: height 0.5s;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.footer-content h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
  line-height: 3rem;
  transition: font-size 0.2s;
}

.footer-content p {
  display: flex;
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.websites {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1rem 2.5rem 2.5rem 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.websites li {
  display: flex;
  margin: 0 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

  .websites img{
  max-width: 40px;
  max-height: 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}


footer:hover{
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background: green;
  height: 150px;
  width: 100%;
}

footer:hover .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

footer:hover .footer-content h3 {
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 3rem;
}

footer:hover .footer-content p {
  display: flex;
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

footer:hover .websites {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1rem 2.5rem 2.5rem 0;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

footer:hover .websites li {
  display: flex;
  margin: 0 15px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
footer:hover .websites img{
  display: block;
  max-width: 40px;
  max-height: 40px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

footer:hover .websites img:hover {
  transform: scale(1.2);
}
