@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap%27);
* {
 box-sizing: border-box;
}
body {
 color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 overflow: hidden;
 margin: 0;
}
.quiz-container {
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
 width: 600px;
 max-width: 95vw;
 overflow: hidden;
}
.quiz-header {
 padding: 4rem;
}
h2 {
 padding: 1rem;
 text-align: center;
 margin: 0;
}
ul {
 list-style-type: none;
 padding: 0;
}
ul li {
 font-family: "PT Sans Narrow", sans-serif;
 font-size: 1.2rem;
 margin: 1rem 0;
}
ul li label {
 cursor: pointer;
}
button {
 background-color: #0d951a;
 color: #fff;
 border: none;
 display: block;
 width: 100%;
 cursor: pointer;
 font-size: 1.1rem;
 font-family: inherit;
 padding: 1.3rem;
}
button:hover {
 background-color: #232123;
}
button:focus {
 outline: none;
 background-color: #0c591a;
}
