@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap%27');



*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  top: 80px;
  left: -800px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 0;
  transform: scale(97%); 
}

.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background: #F6D155;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-radius: 30px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: green;
  border: 2px solid green;
  border-radius: 16px;
  z-index: 1;
}

.container::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: green;
  z-index: 1;
}

.container::before {
  left: 8px;
}


.container .date {
    border-radius: 30px;
    background: #73AD21;
    padding: 11px;
    width: 65px;
    height: 45px;
    position: absolute;
    display: inline-block;
    top: calc(50% - 22px);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 90, 0);
    letter-spacing: 1px;
}

.container .date {
  left: -80px;
}

.container .box {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid green;
    background: #F6D155;
    padding: 11px;
    width: 40px;
    height: 40px;
    left: 28px;
    transition: all 0.5s;
}


.container .box.bigger {
    overflow: hidden;
    border-radius: 30px;
    background: #F6D155;
    padding: 11px;
    width: 600px;
    height: 260px;
    left:30px;
}

.box p, .box div {
    text-align: left;
    max-width: 750px;
}


.flex {
  display: flex;
  gap: 10px;
}

#text {
  font-family: 'PT Sans Narrow', sans-serif;
  hyphens: auto; 
	text-align: justify
}
#url {
  font-size: 10px;
}






.textbox {
  position: absolute;
  border-radius: 20px;
  background: #F6D155;
  padding: 11px;
  width: 700px;
  height: auto;
  left: 1000px;
  top: 150px;
}

.infobox {
  position: relative;
  overflow: hidden;
  background: #F6D155;
  width: 700px;
  max-height: 40px;
  left: -11px;
  top: 0px;
  transition: max-height 0.2s linear;
}

.infobox.big {
  height: auto;
  max-height: 400px;
}

#year {
  text-align: left;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 13px;
}

#infotext {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-weight: 800;
  hyphens: auto; 
	text-align: justify
}

.arrow {
  transform: rotate(0deg);
  transition: all 0.2s;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.flex2 {
  display: flex;
}
#border {
  padding: 10px;
}
#untertext {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 19px;
  font-weight: 800;
  hyphens: auto; 
	text-align: justify
}


#footer {
  position: relative;
  padding-top: 50px;
  top: 120px;
}

#smaller-footer {
  display: block;
  position: relative;
  padding-top: 40px;
}


@media screen and (max-width: 1775px) {
  
  .timeline {
    position: relative;
    top: 80px;
    left: -750px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
    transform: scale(97%); 
  }

  .textbox {
    position: relative;
    border-radius: 20px;
    background: #F6D155;
    padding: 11px;
    width: 700px;
    height: auto;
    left: 20px;
    top: 100px;
  }

}

@media screen and (max-width: 1670px) {
  
  .timeline {
    position: relative;
    top: 80px;
    left: -600px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
    transform: scale(97%); 
  }

}

@media screen and (max-width: 1390px) {
  
  .timeline {
    position: relative;
    top: 80px;
    left: -400px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
    transform: scale(97%); 
  }

}

@media screen and (max-width: 970px) {
  
  .timeline {
    position: relative;
    top: 80px;
    left: -300px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
    transform: scale(97%); 
  }
}



